@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;

  --animate-landing: landing 500ms cubic-bezier(0.85, 0, 0.15, 1) forwards 400ms;

  @keyframes landing {
    0% {
      color: #79262f;
    }
    100% {
      color: var(--color-red-500);
    }
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

button {
  cursor: default;
}

.webkit-💩 {
  -webkit-tap-highlight-color: transparent;
}
